* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: oklch(40% 0.123 38.172);
    background-color: oklch(98% 0.016 73.684);
    line-height: 1.6;
}

h1 {
    font-family: 'Abril Fatface', sans-serif;
    color: oklch(42.468% 0.14025 37.585);
    font-size: 3rem;
}

h2 {
    margin: 1rem;
}


section {
    padding: 2rem;
    text-align: center;
}

/* Header section */

header {
    background: oklch(98% 0.016 73.684);;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.social-buttons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: oklch(44% 0.119 151.328);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
}

.social-buttons a:hover {
    background-color: oklch(52% 0.154 150.069);
    transform: scale(1.1);
}

#about {
    max-width: 700px;
    margin: 0 auto;
}

/* Skills section */

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.skills-list li {
    list-style: none;
    padding: 0.5rem 1rem;
    transition: transform 0.3s;
    width: 5.5rem;
    text-align: center;
}

.skills-list li img {
    height: 3rem;
}

.skills-list li:hover {
    transform: scale(1.1);
}

.skills-list li p {
    font-size: 0.8rem;
}

/* Project section */

#projects .project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.project {
    background: oklch(95% 0.038 75.164);
    padding: 1rem;
    border-radius: 8px;
    border-style: solid;
    border-color:oklch(90% 0.076 70.697);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.project-image {
    flex: 1;
    margin: .5rem;
    max-width: 50%;
    position: relative;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: auto;
}

.project-description {
    flex: 1;
    text-align: left;
    margin: 0.5rem;
}

@media (max-width: 950px) {
    .project {
        flex-direction: column;
    }

    .project-image {
        min-width: 100%;
        margin: 0;
    }
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.project-header i {
    font-weight: 400;
}

.project-header h3 {
    font-size: 1.5rem;
}

.project-links a {
    color: oklch(44% 0.119 151.328);
    font-size: 2rem;
    margin: 0 0.5rem;
    transform: scale(1);
    transition: color 0.3s, font-size 0.3s;
    text-decoration: none;
}

.project-links a:hover {
    color: oklch(52% 0.154 150.069);
    font-size: 2.2rem;
}

.tech-pill {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.tech-pill i {
    margin-right: .25rem;
    margin-left: .25rem;
}

hr {
    border-top: 3px solid oklch(90% 0.076 70.697);;
    margin: .5rem 0;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}